<form class="block" method="post" role="form">
    <h2>~title~</h2>
    <hr>
    <!--<div class="error">~errors~</div>-->
    ~errors~
    <div class="w100"><input type="text" name="login" placeholder="*Login*" required="required"></div>
    <div class="w100"><input type="password" name="password" placeholder="*Password*" required="required"></div>
    <div class="w100">
        <button type="submit" class="btn"><i class="fa fa-sign-in"></i>*Sign in*</button>
        <span class="auth-links">*or*</span>
        <a href="~language_prefix~/social/fb" class="btn" title="Facebook"><i class="fa fa-facebook-official single" aria-hidden="true"></i></a> &nbsp;
        <a href="~language_prefix~/social/li" class="btn" title="Linkedin"><i class="fa fa-linkedin-square single" aria-hidden="true"></i></a> &nbsp;
        <!--<a href="~language_prefix~/social/tw" class="btn" title="Twitter"><i class="fa fa-twitter single" aria-hidden="true"></i></a> &nbsp;-->
        <a href="~language_prefix~/social/go" class="btn" title="Google"><i class="fa fa-google single" aria-hidden="true"></i></a> &nbsp;
        <a href="~language_prefix~/social/in" class="btn" title="Instagram"><i class="fa fa-instagram single" aria-hidden="true"></i></a> &nbsp;
        <span class="auth-links">
            <a href="~language_prefix~/login/registration">*Registration*</a>
            &nbsp;&nbsp;&nbsp;
            <a href="~language_prefix~/login/reset">*Forgot a password*?</a>
        </span>
    </div>
</form>