<a href="~language_prefix~/cabinet/orders/decline/~id~" title="*Decline*"
   onclick="return confirm('*Are you sure want to decline this order*?');"
   class="btn btn-small delete float-right"><i class="fa fa-ban single"></i></a>
<a href="~language_prefix~/cabinet/orders/edit/~id~" title="*Edit*"
   class="btn btn-small edit float-right"><i class="fa fa-pencil single"></i></a>
<a href="~language_prefix~/cabinet/orders/pay/~id~" title="*Pay an order*"
   class="btn btn-small edit float-right"><i class="fa fa-credit-card single"></i></a>