<tr data-id="~id~">
    <td width="10%" class="text-left">№ ~id~</td>
    <td width="15%" class="text-left"><small class="gray">~beautiful_date~</small></td>
    <td width="25%" class="text-left">~products_amount~ ~of_products_text~ *on* <b>~beautiful_total~</b> ~currency~</td>
    <td width="25%" class="text-left">
        <small class="gray">*Status*:</small> <small>~status_name~</small><br>
        <small class="gray">*Delivery*:</small> <small>~delivery_name~</small><br>
        <small class="gray" data-delivery_inner_id="~delivery_inner_id~">*TTN*:</small> <small data-delivery_inner_id="~delivery_inner_id~"><b>~delivery_inner_id~</b></small>
    </td>
    <td width="25%" class="text-left">
        <small class="paid" data-paid="~paid~">~paid_text~</small>
        ~options_buttons~
    </td>
</tr>