<form class="block" method="post" role="form">
    <h2>~title~</h2>
    <hr>
    <!--<div class="error">~errors~</div>-->
    ~errors~
    ~success~
    <div class="w100">
        <div class="row">
            <div class="w50 inner-block">
                <input class="" type="text" name="first_name" placeholder="*First name*" required="required" value="~first_name~">
            </div><!--
         --><div class="w50 inner-block">
            <input class="" type="text" name="last_name" placeholder="*Last name*" value="~last_name~">
            </div>
        </div>
    </div>
    <div class="w100">
        <div class="row">
            <div class="w50 inner-block">
                <input type="email" name="email" placeholder="*Email*" required="required" value="~email~">
            </div><!--
         --><div class="w50 inner-block">
            <input type="text" name="phone" placeholder="*Phone*" required="required" value="~phone~">
            </div>
        </div>
    </div>
    <div class="w100">
        <input type="hidden" name="captcha_unique_id" value="~captcha_unique_id~">
        <input type="text" name="captcha_code" placeholder="*Captcha code*"
               style="width: 120px; display: inline-block; vertical-align: bottom;" required="required">
        <img src="data:image/png;base64,~captcha_image~" style="display: inline-block; vertical-align: bottom;">
    </div>
    <div class="w100">
        <button type="submit" class="btn"><i class="fa fa-save"></i>*Register*</button>
        <span class="auth-links">*or*</span><a href="~language_prefix~/social/fb" class="btn" title="Facebook"><i class="fa fa-facebook-official single" aria-hidden="true"></i></a> &nbsp;
        <a href="~language_prefix~/social/li" class="btn" title="Linkedin"><i class="fa fa-linkedin-square single" aria-hidden="true"></i></a> &nbsp;
        <!--<a href="~language_prefix~/social/tw" class="btn" title="Twitter"><i class="fa fa-twitter single" aria-hidden="true"></i></a> &nbsp;-->
        <a href="~language_prefix~/social/go" class="btn" title="Google"><i class="fa fa-google single" aria-hidden="true"></i></a> &nbsp;
        <a href="~language_prefix~/social/in" class="btn" title="Instagram"><i class="fa fa-instagram single" aria-hidden="true"></i></a> &nbsp;
        <span class="auth-links">
            <a href="~language_prefix~/login">*Authorisation*</a>
            &nbsp;&nbsp;&nbsp;
            <a href="~language_prefix~/login/reset">*Password reset*</a>
        </span>
    </div>
</form>