<tr data-id="~profile~">
    <td width="10%">
        <a href="#"
           data-model="modules\users\models\users_authorizations"
           data-m-action="dynamic_edit"
           data-m-context='tr[data-id="~profile~"]'
           class="delete"
           title="*Delete*"><i class="fa fa-trash"></i></a>
    </td>
    <td width="20%" class="text-left">~user_name~</td>
    <td width="20%" class="text-left">~ip_address~</td>
    <td width="20%" class="text-left">~date~</td>
    <td width="30%" class="text-left"></td>
</tr>