<div class="additional-links">
    <a href="~language_prefix~/~pagename~/users" title="*Users overview*"><i class="fa fa-users"></i></a>
</div>
<table cellpadding="0" cellspacing="0" class="admin-overview">
    <thead>
        <tr>
            <th width="20%"></th>
            <th width="20%" class="text-left">*Group id*</th>
            <th width="60%" class="text-left">*Group name*</th>
        </tr>
    </thead>
    ~items~
    <tr class="editable" data-id="null">
        <td width="20%">
            <a href="#"
               data-model="modules\users\models\users_groups"
               data-m-action="dynamic_edit"
               data-m-context="tr[data-id='null']"
               class="edit save plus"><i class="fa fa-edit"></i></a>
            <a href="#"
               data-model="modules\users\models\users_groups"
               data-m-action="dynamic_edit"
               data-m-context="tr[data-id='null']"
               class="delete"
               title="*Delete*"><i class="fa fa-trash"></i></a>
        </td>
        <td class="text-left" width="20%"><span data-edit="id"><textarea placeholder="id"></textarea></span></td>
        <td class="text-left" width="60%"><span data-edit="name"><textarea placeholder="*Put new group name*"></textarea></span></td>
    </tr>
</table>