<tr data-id="~id~">
    <td width="20%">
        <a href="#"
           data-model="modules\users\models\users_groups"
           data-m-action="dynamic_edit"
           data-m-context='tr[data-id="~id~"]'
           title="*Edit*"
           class="edit"><i class="fa fa-edit"></i></a>
        <a href="#"
           data-model="modules\users\models\users_groups"
           data-m-action="dynamic_edit"
           data-m-context='tr[data-id="~id~"]'
           class="delete"
           title="*Delete*"><i class="fa fa-trash"></i></a>
    </td>
    <td width="20%" class="text-left"><span data-edit="id">~id~</span></td>
    <td width="60%" class="text-left"><span data-edit="name">~name~</span></td>
</tr>