<tr data-id="~id~">
    <td width="10%">
        <i class="move"></i>
        <a href="~language_prefix~/~pagename~/users/edit/~profile~" title="*Edit*" class="edit"><i class="fa fa-pencil"></i></a>
        <a href="~language_prefix~/~pagename~/users/delete/~profile~" title="*Delete*"
           onclick="return confirm('*Are you sure want to delete this user*?');" class="delete"><i class="fa fa-trash-o"></i></a>
    </td>
    <td width="20%" class="text-left">~name~</a></td>
    <td width="15%" class="text-left"><a href="mailto:~email~">~email~</a></td>
    <td width="10%" class="text-left"><a href="tel:~phone~">~phone~</a></td>
    <td width="15%" class="text-left">~last_visit~</td>
    <td width="10%" class="text-left">~confirmed~</td>
    <td width="15%" class="text-left">~group_name~</td>
</tr>