<tr data-id="~id~">
    <td width="10%">
        <a href="~language_prefix~/~pagename~/users/permissions/edit/id/~id~" title="*Edit*" class="edit"><i class="fa fa-pencil"></i></a>
        <a href="~language_prefix~/~pagename~/users/permissions/delete/id/~id~" title="*Delete*"
           onclick="return confirm('*Are you sure want to delete this*?');" class="delete"><i class="fa fa-trash-o"></i></a>
    </td>
    <td width="20%" class="text-left">~user_name~</a></td>
    <td width="20%" class="text-left"><a href="~page_path~" target="_blank">~page_name~</a></td>
    <td width="20%" class="text-left">~group_name~</td>
    <td width="20%" class="text-left">~module~</td>
    <td width="10%" class="text-left">~permission~</td>
</tr>