<tr data-id="~id~">
    <td width="5%">
        <a href="#"
           data-model="modules\users\models\users_socials"
           data-m-action="dynamic_edit"
           data-m-context='tr[data-id="~id~"]'
           class="delete"
           title="*Delete*"><i class="fa fa-trash"></i></a>
    </td>
    <td width="5%" class="text-left"><img src="~user_avatar~" width="50" height="50"></td>
    <td width="15%" class="text-left"><a href="~language_prefix~/~pagename~/users/edit/~profile~" target="_blank">~user_name~</a></td>
    <td width="15%" class="text-left">~name~</td>
    <td width="15%" class="text-left"><a href="mailto:~email~" target="_blank">~email~</a></td>
    <td width="10%" class="text-left"><b>~provider~</b></td>
    <td width="25%" class="text-left"><a href="~social_page~" target="_blank">~social_page~</a></td>
    <td width="10%" class="text-left">~date~</td>
</tr>