<form name="user_form" action="" method="post" class="edit-form">
    <div class="additional-links">
        <a onclick="return user_form.submit();" title="*Save*"><i class="fa fa-save"></i></a> &nbsp;
        <a href="~language_prefix~/~pagename~/users" title="*Users*"><i class="fa fa-users"></i></a>
    </div>
    ~errors~
    ~saved~
    ~rows~
    <dl class="edit_row">
        <dt></dt><dd><button class="btn" type="submit"><i class="fa fa-save" aria-hidden="true"></i> *Save*</button></dd>
    </dl>
</form>