<div class="additional-links">
    <a href="~language_prefix~/~pagename~/users" title="*Users overview*"><i class="fa fa-users"></i></a>
    <a href="~language_prefix~/~pagename~/users/visitors" title="*Visitors*"><i class="fa fa-user-o"></i></a>
</div>
<table cellpadding="0" cellspacing="0" class="admin-overview">
    <thead>
        <tr>
            <th width="10%"></th>
            <th width="10%" class="text-left">*Visitor*</th>
            <th width="20%" class="text-left">*Query referrer*</th>
            <th width="30%" class="text-left">*Request*</th>
            <th width="10%" class="text-left">*Item id*</th>
            <th width="20%" class="text-left">*Date*</th>
        </tr>
    </thead>
    ~items~
</table>