<tr data-id="~id~">
    <td width="10%">
        <a href="~language_prefix~/~pagename~/users/visitors/history/id/~id~" class="btn-white"
           title="*To view visitor history*"><i class="fa fa-eye"></i></a>
        <a href="~language_prefix~/~pagename~/users/delete_visitor/~id~" class="btn-white"
           title="*Delete visitor*" onclick="return confirm('*Are you sure want delete this visitor*?');"><i class="fa fa-trash-o"></i></a>
        <a href="#" class="btn-white"
           onclick="alert('Sorry. This functionality will be released in future framework version.'); return false;"
           title="*To start chat with visitor*"><i class="fa fa-comments-o"></i></a>
    </td>
    <td width="5%" class="text-left">~id~</td>
    <td width="15%" class="text-left">~user_name~</td>
    <td width="5%" class="text-left"><a href="~language_prefix~/~pagename~/users/visitors/history/id/~id~">~visits_count~</a></td>
    <td width="15%" class="text-left">~ip_address~</td>
    <td width="35%" class="text-left"><span class="no-overflow">~user_agent~</span></td>
    <td width="15%" class="text-left">~date~</td>
</tr>