<tr data-id="~id~">
    <td width="10%">
        <a href="#"
           data-model="modules\users\models\visitors_history"
           data-m-action="dynamic_edit"
           data-m-context='tr[data-id="~id~"]'
           class="delete"
           title="*Delete*"><i class="fa fa-trash"></i></a>
    </td>
    <td width="10%" class="text-left">~visitor~</td>
    <td width="20%" class="text-left"><a href="~referrer~" target="_blank">~referrer~</a></td>
    <td width="30%" class="text-left"><a href="~request_uri~" target="_blank">~request_uri~</a></td>
    <td width="10%" class="text-left">~item_id~</td>
    <td width="20%" class="text-left">~date~</td>
</tr>