<div class="additional-links">
    <a href="~language_prefix~/~pagename~/users" title="*Users overview*"><i class="fa fa-users"></i></a>
</div>
<table cellpadding="0" cellspacing="0" class="admin-overview">
    <thead>
        <tr>
            <th width="10%"></th>
            <th width="5%" class="text-left">Id</th>
            <th width="15%" class="text-left">*User*</th>
            <th width="5%" class="text-left">*Views*</th>
            <th width="15%" class="text-left">IP</th>
            <th width="35%" class="text-left">*Browser*</th>
            <th width="15%" class="text-left">*Created*</th>
        </tr>
    </thead>
    ~items~
</table>